<div id="<%= dom_id project %>">
  <div class="card" style="width:20rem;">
  <div class="card-header bg-secondary text-white">
    <p class="h1">
      <%= project.title %>
    </p>
  </div>
  <div class="card-body">
    <%= project.description %>
  </div>
</div>
