<p style="color: green"><%= notice %></p>
  <div class="container-fluid p-5 my-5 bg-dark text-white">
    <h1>Dante Cannestra CS3300 Portfolio</h1>
    <p>Welcome to the portfolio page of Dante Cannestra!!!</p>
  </div>
</head>

<h1>Projects</h1>

<div id="projects">
  <% @projects.each do |project| %>
    <%= render project %>
    <p>
      <div class="btn"><%= link_to "Show this project", project, :class => "btn btn-outline-secondary" %></div>
    </p>
  <% end %>
</div>

<a href="/projects/new/" class="btn btn-outline-dark">New Project</a>
