<p style="color: green"><%= notice %></p>

<%= render @project %>

<div>
  <div class="btn"><%= link_to "Edit this project", edit_project_path(@project), :class => "btn btn-outline-secondary" %></div>
  <a href="/projects" class="btn btn-outline-secondary">Back to projects</a>
  <div class="btn"><%= button_to "Destroy this project", @project, method: :delete, :class => "btn btn-secondary" %></div>
</div>
